<!DOCTYPE html>
<html>
<style>
    .img-profile {
        height: 2rem;
        width: 2rem;
    }
    .rounded-circle {
        border-radius: 50%!important;
    }
    #mynav{
      height:60px;
      box-shadow: 4px 4px 4px 4px #a9a9a9;
    }
    .topbar .topbar-divider {
        width: 0;
        border-right: 1px solid #e3e6f0;
        height: calc(4.375rem - 2rem);
        margin: auto 1rem;}
    img {
            vertical-align: middle;
            border-style: none;
        }
</style>


<style type="text/css">
  .root{
  display:flex;
  justify-content:center;
  background-color:#dfe6e9;
  align-items:center;
  padding:20px;


  }

  .myframe{
  width:600px;
  background-color:#fff;
  padding:20px;
  border-radius:20px;

  }
 .gap{
  margin-top:10px;
 }
 .btnstyle{
   display:flex;
   justify-content:center;
   align-items:center;
   width:400px;
 }
 body {
  background-color: #eee
}

.time {
  font-size: 9px !important
}

.socials i {
  margin-right: 14px;
  font-size: 17px;
  color: #d2c8c8;
  cursor: pointer
}

.feed-image img {
  width: 100%;
  height: auto
}
</style>

<head>
  <meta charset="utf-8">
  <title> Alumni Dashboard </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/stylemain.css">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
 <!-- Custom fonts for this template-->
 <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

 <!-- Custom styles for this template-->



 <script src="http://office.praedicoglobalresearch.com/public/vendor/jquery/jquery.min.js"></script>
 <script src="http://office.praedicoglobalresearch.com/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

 <!-- Core plugin JavaScript-->

 <!-- Custom scripts for all pages-->

 <!-- Page level plugins -->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
 <!-- Page level custom scripts -->

  

</head>
{% include "sidebar_alumni.html" %}



<body id="body" style="margin-left:300px;">
  
   
  <!-- Topbar -->
  
  <nav id="mynav" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    
    <span>
      <a class="" style="cursor: pointer;" onclick="toggleSidebar()"><i class="fas fa-fw fa-lg fa-bars"></i></a>
    </span>

    <script>
      function toggleSidebar()
      {
        $("#mySidenav").fadeToggle();
        
        var a=$("#body").css('margin-left');
        
        if(a=='300px'){
          $("#body").css('margin-left','-=280px');

        }
        else{
        $("#body").css('margin-left','+=300px');
        }
      }
    </script>

    <style>
      @media only screen and (max-width: 600px) {
        #mySidenav{display: none;}
      }
    </style>

    <marquee style="font-family: Comic Sans MS; color: red">
      <i>"Mission to Innovate Technology for Society."</i>
      {% comment %} <img src="http://office.praedicoglobalresearch.com/public/img/smiley.png" width="50px"> {% endcomment %}
    </marquee>
    <!-- Topbar Navbar -->


  





    <ul class="navbar-nav ml-auto">

      <div class="topbar-divider d-flex d-sm-block"></div>

      <!-- Nav Item - User Information -->
      <li class="nav-item dropdown no-arrow" style="width:150px">
          
        <a class="nav-link " href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
            <span class="ml-2 d-flex d-lg-inline text-gray-700 small"> {{alumni.email}}</span>
          
                </a>

     
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
          <a class="dropdown-item" id="scriptmodal" href="#" data-toggle="modal" data-target="#profileModal">
            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
            Profile
          </a>
          <a class="dropdown-item"  href="#" data-toggle="modal" data-target="#passwordModal">
            <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
            Change Password
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
          </a>
        </div>
      </li>

    </ul>

  </nav>
  <!-- End of Topbar -->







  <button data-toggle="modal" data-target="#eventModal" style="float:right;margin-right:40px;" type="button" class="btn btn-primary position-relative">
    Events Organized by College
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      99+
    </span>
  </button>
  
<h1>Alumni Dashboard </h1><br><br>



<div class="row">
  


  <div class="col-xl-3 col-sm-6  mb-4">
    
    <div class="icon-card-primary" >
      <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="icon mb-0 mb-md-2 mb-xl-0 mr-2">
              <img src="/static/job.png" alt="jobs" class="myicon" />
            </div>
            <p class="font-weight-medium mb-0">Home Page</p>
          </div>
        
      </div>
     
    </div>
  </div>
  <div class="col-xl-3 col-sm-6  mb-4">
    
    <div class="icon-card-primary" >
      <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="icon mb-0 mb-md-2 mb-xl-0 mr-2">
              <img src="/static/job.png" alt="jobs" class="myicon" />
            </div>
            <p class="font-weight-medium mb-0" >Write an Article</p>
          </div>
        
      </div>
     
    </div>
  </div>
  <div class="col-xl-3 col-sm-6  mb-4">
    
    <div class="icon-card-primary" >
      <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="icon mb-0 mb-md-2 mb-xl-0 mr-2">
              <img src="/static/job.png" alt="jobs" class="myicon" />
            </div>
            <p class="font-weight-medium mb-0">Create Post</p>
          </div>
        
      </div>
     
    </div>
  </div>


  <div class="col-xl-3 col-sm-6  mb-4">
    
    <div class="icon-card-primary" >
      <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="icon mb-0 mb-md-2 mb-xl-0 mr-2">
              <img src="/static/job.png" alt="jobs" class="myicon" />
            </div>
            <p class="font-weight-medium mb-0">NSTI Jobs</p>
          </div>
        
      </div>
     
    </div>
  </div>
  



</div>
 















<div class="container mt-4 mb-5">
  <div class="d-flex justify-content-center row">
      <div class="col-md-8">
          <div class="feed p-2">
              <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white border">
                  <div class="feed-text px-2">
                      <h6 class="text-black-50 mt-2">What's on your mind</h6>
                  </div>
                  <div class="feed-icon px-2"><i class="fa fa-long-arrow-up text-black-50"></i></div>
              </div>
              <div class="bg-white border mt-2">
                  <div>
                      <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                          <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle" src="https://i.imgur.com/aoKusnD.jpg" width="45">
                              <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">Thomson ben</span><span class="text-black-50 time">40 minutes ago</span></div>
                          </div>
                          <div class="feed-icon px-2"><i class="fa fa-ellipsis-v text-black-50"></i></div>
                      </div>
                  </div>
                  <div class="p-2 px-3"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></div>
                  <div class="d-flex justify-content-end socials p-2 py-3"><i class="fa fa-thumbs-up"></i><i class="fa fa-comments-o"></i><i class="fa fa-share"></i></div>
              </div>
              <div class="bg-white border mt-2">
                  <div>
                      <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                          <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle" src="https://i.imgur.com/aoKusnD.jpg" width="45">
                              <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">Thomson ben</span><span class="text-black-50 time">40 minutes ago</span></div>
                          </div>
                          <div class="feed-icon px-2"><i class="fa fa-ellipsis-v text-black-50"></i></div>
                      </div>
                  </div>
                  <div class="feed-image p-2 px-3"><img class="img-fluid img-responsive" src="https://i.imgur.com/aoKusnD.jpg"></div>
                  <div class="d-flex justify-content-end socials p-2 py-3"><i class="fa fa-thumbs-up"></i><i class="fa fa-comments-o"></i><i class="fa fa-share"></i></div>
              </div>
          </div>
      </div>
  </div>
</div>





<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
     

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

     

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

   

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col">
          
          <ul class="list-unstyled mb-0">
            <li>You are logged in as
              <a href="#!" class="text-white"> 0901ET191034 MANAV ARORA (Log out)</a>
            </li>
            <li>
              <a href="#!" class="text-white">Terms and Conditions</a>
            </li>
          </ul>
        </div>


        
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="#">DTE-PORTAL</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->












  



<!-- password modal -->
<!-- password modal -->
<div class="modal fade"  id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalToggle" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalToggle">Change Password </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        
      <form id='changepwd' method="post" enctype="application/x-www-form-urlencoded">{% csrf_token %}
          <div class="form-row">
          
              <div class="form-group col-md-12">
                <label for="inputEmail4">Current Password</label>
                <input type="password" class="form-control" id="currentpwd" name="currentpwd" placeholder="Current Password">
              </div>
            
              <div class="form-group col-md-12">
                <label for="inputEmail4">New password</label><br>
                <input type="password" class="form-control" id="newpwd" name="newpwd" placeholder="New password">
             </div>
            
             <div class="form-group col-md-12">
                <label for="inputEmail4">Confirm password</label><br>
                <input type="password" class="form-control" id="confirmpwd" name="confirmpwd" onkeyup="chk()" placeholder="Re-enter Password">
                <span id="msg"></span> 
            </div>
              
            </div>
           
      
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-secondary" >Close</button>
      <button type="submit" class="btn btn-primary" >Update</button>
    </div>
  </form>
      </div>
     </div>     
    </div>
  






    <div class="modal fade"  id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalToggle" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
       
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggle">Events Organized by College </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
          {% for event in events %}
          <strong><img src="/static/new.png" height="28" width="28"></img>
              
              <a href="/static/events/{{event.eventfile}}/" target="_blank">{{event.eventfile}}</a>
              
          </strong><br><br>
          {% endfor %}
          
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-secondary" >Close</button>
        </div>
      
          </div>
         </div>     
        </div>
      
    

<!-- Logout Modal-->



<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body"><i style="color:green; font-family: Comic Sans MS;"><b>Good Job... You have no pending Task.</b> <span class="fas fa-thumbs-up" style="font-size:25px;"></span></i></div>
  <div class="modal-footer">
    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
    <a class="btn btn-primary" href="/alumni-logout">Logout</a>
  </div>
</div>
</div>
</div>





<!-- Profile Modal-->


<div class="modal fade"  id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalToggle" aria-hidden="true">
 
  <div class="modal-dialog modal-xl" role="document">
 
    <div class="modal-content">
 
      <div class="modal-header">
      <h5 class="modal-title" id="exampleModalToggle">{{alumni.email}}'s Profile </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
     <div class="modal-body">
        
      
      <form id="updateprofile" method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="root">
        <div class="myframe">
            <div class="row" style="display:flex;margin-bottom:10px;font-size:14px;font-weight:bold;letter-spacing:1px;justify-content:center;align-items:center;">
               
               Alumni
            </div>
           
            <div class="row gap">
              <div class="col">
                <Select id="collegeid" name="collegeid"   class="form-control" >
                  <option  selected disabled >-select college-</option>
                  {% for data in college %}
                  <option value="{{data.id}}"  {% if alumni.collegeid.id == data.id %} selected {% endif %} >{{data.name}}</option>
                  {% endfor %}
              </Select>
               </div>
            </div>
            <div class="row gap">
              <div class="col">
              <input type="text" name="name" id="name" class="form-control" value="{{alumni.name}}" placeholder="Full Name">
               </div>
            </div>
            <div class="row gap">
              <div class="col">
              <input type="email" name="email" id="email" class="form-control" value="{{alumni.email}}" placeholder="Email" >
               </div>
            </div>
            <div class="row gap">
              <div class="col">
              <input type="tel" name="phone" id="phone" class="form-control" value="{{alumni.phone}}" pattern="[0-9]{10}" placeholder="Phone" >
               </div>
            </div>
            <div class="row gap">
              <div class="col">
                <Select id="passoutyear" name="passoutyear"   class="form-control">
                  <option  selected disabled >Passout Year</option>
                  {% for data in year %}
                  <option value="{{data.year}}"  {% if alumni.passout_year == data.year %} selected {% endif %} >{{data.year}}</option>
                  {% endfor %}
              </Select>
               </div>
            </div>
            <div class="row gap">
              <div class="col">
              <input type="text" name="exp" id="exp" value="{{alumni.experience}}" class="form-control" placeholder="Experience in years">
               </div>
            </div>
            <div class="row gap">
              <div class="col">
              <input type="text" name="currentjob" id="currentjob" value="{{alumni.current_job}}" class="form-control" placeholder="Current Job">
               </div>
            </div>
            
          </form>  
      
      <div class="modal-footer">
        <div class="row gap">
          <div class="col btnstyle">
            <button type="Submit" class="btn btn-success w-100" >Update</button>
          </div>
          
      </div>
    </div>
     </div>     
    </div>
  </div>
  
  
      <!-- /.container-fluid -->




      <script>
        function chk(){
          
          if(newpwd.value==confirmpwd.value)
          {msg.innerHTML = "<font color='green'>Password Matched</font>"  
          }
          else
          {msg.innerHTML = "<font color='red'>Password not matched</font>"}
        
          }    
        
          $("#changepwd").submit(function (e) {
            
              // preventing from page reload and default actions
              e.preventDefault();
              // serialize the data for sending the form data.
              var serializedData = $(this).serialize();
              
              // make POST ajax call
              $.ajax({
                  type: 'POST',
                  url: "{% url 'alumni-changepassword' %}",
                  data: serializedData,
                  success: function (response) {
                    // console.log(response)
                    window.location.reload();
                    alert("Password Updated Successfully")
          
                    
                  },
                  error: function (response) {
                      // alert the error if any error occured
                      //alert(response["responseJSON"]["error"]);
                      alert("Some Unknown Error Occured Please try after sometime..")
                      window.location.reload();
                  }
              })
          })










          $("#updateprofile").submit(function (e) {
            
            // preventing from page reload and default actions
            e.preventDefault();
            // serialize the data for sending the form data.
            var serializedData = $(this).serialize();
            
            // make POST ajax call
            $.ajax({
                type: 'POST',
                url: "{% url 'alumni-updateprofile' %}",
                data: serializedData,
                success: function (response) {
                  // console.log(response)
                  window.location.reload();
                  alert("Updated Successfully")
        
                  
                },
                error: function (response) {
                    // alert the error if any error occured
                    window.location.reload();
                    alert(response["responseJSON"]["error"]);
                }
            })
        })
        
        </script>




</body>

  

</html>
