<!DOCTYPE html>
<html>
<style>
    .img-profile {
        height: 2rem;
        width: 2rem;
    }
    .rounded-circle {
        border-radius: 50%!important;
    }
    #mynav{
      height:60px;
      box-shadow: 4px 4px 4px 4px #a9a9a9;
    }
    .topbar .topbar-divider {
        width: 0;
        border-right: 1px solid #e3e6f0;
        height: calc(4.375rem - 2rem);
        margin: auto 1rem;}
    img {
            vertical-align: middle;
            border-style: none;
        }
</style>


<style type="text/css">
  .root{
  display:flex;
  justify-content:center;
  background-color:#dfe6e9;
  align-items:center;
  padding:20px;


  }
  a:link, a:visited {
    color: #fff;
  } 
  .myframe{
  width:600px;
  background-color:#fff;
  padding:20px;
  border-radius:20px;

  }
 .gap{
  margin-top:10px;
 }
 .btnstyle{
   display:flex;
   justify-content:center;
   align-items:center;
   width:400px;
 }
 

.time {
  font-size: 9px !important
}

.socials i {
  margin-right: 14px;
  font-size: 17px;
  color: #d2c8c8;
  cursor: pointer
}

.feed-image img {
  width: 100%;
  height: auto
}
#body {
  background: #bdc3c7
 
}
</style>

<head>
  <meta charset="utf-8">
  <title> Student Dashboard </title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/stylemain.css">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
 <!-- Custom fonts for this template-->
 <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

 <!-- Custom styles for this template-->



 <script src="http://office.praedicoglobalresearch.com/public/vendor/jquery/jquery.min.js"></script>
 <script src="http://office.praedicoglobalresearch.com/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

 <!-- Core plugin JavaScript-->

 <!-- Custom scripts for all pages-->

 <!-- Page level plugins -->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
 <!-- Page level custom scripts -->

 
 <div id="fb-root"></div>
 <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v13.0" nonce="xXJpUjNu"></script>


</head>



<body id="body" style="margin-left:20px;margin-right:20px;">
  
   
  <!-- Topbar -->
  
  <nav id="mynav" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    
    <span>
      <a class="" style="cursor: pointer;" onclick="toggleSidebar()"><i class="fas fa-fw fa-lg fa-bars"></i></a>
    </span>

    
    <style>
      @media only screen and (max-width: 600px) {
        #mySidenav{display: none;}
      }
    </style>

    <marquee style="font-family: Comic Sans MS; color: red">
      <i>"Mission to Innovate Technology for Society."</i>
    </marquee>
    <!-- Topbar Navbar -->


  




  </nav>
  <!-- End of Topbar -->







 
<h1>Student Dashboard </h1>
<a href="/student-alumniprofiles/"><button  type="button" class="btn btn-primary">Alumni Profiles</button></a>
<a href="/student-dashboard/"><button  type="button" class="btn btn-primary">Posts & Articles</button></a>




  


    <div class="container mt-4 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-8">
                <div class="feed p-2">
                   {% for article in articles %}
                    
                    <div class="bg-white border mt-2">
                        <div>
                            <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                                <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" width="45">
                                    <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">{{alumni.name}}</span></div>
                                </div>
                               
                              
                                <div class="feed-icon px-2"><i class="fa fa-ellipsis-v text-black-50"></i></div>
                            </div>
                        </div>
                        <div class="d-flex flex-row align-items-center feed-text px-2">
                          <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">{{article.heading}}</span></div>
                      </div>
                        <div class="p-2 px-3"><span>{{article.article}}</span></div>
                        <div class="d-flex justify-content-end socials p-2 py-3"><i class="fa fa-thumbs-up"></i><i class="fa fa-comments-o"></i><i class="fa fa-share"></i></div>
                        
                        <div class="fb-comments" data-href="http://127.0.0.1:8000/student-dashboard/{{article.id}}" data-width="" data-numposts="5"></div>
                        {% comment %} <div class="fb-comments" data-href="http://127.0.0.1:8000/student-dashboard/" data-width="" data-numposts="500"></div> {% endcomment %}
                    </div>
                    {% endfor %}
      
      
                    {% for post in posts %}
      
                    <div class="bg-white border mt-2">
                        <div>
                            <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                                <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg" width="45">
                                    <div class="d-flex flex-column flex-wrap ml-2"><span class="font-weight-bold">{{alumni.name}}</span></div>
                                </div>
                                <div class="feed-icon px-2"><i class="fa fa-ellipsis-v text-black-50"></i></div>
                            </div>
                        </div>
                        <div class="feed-image p-2 px-3"><img class="img-fluid img-responsive" src="/static/posts/{{post.post}}"></div>
                        <div class="d-flex justify-content-end socials p-2 py-3"><i class="fa fa-thumbs-up"></i><i class="fa fa-comments-o"></i><i class="fa fa-share"></i></div>
                    </div>
               
                    {% endfor %}
      
      
                  </div>
            </div>
        </div>
      </div>
      



    
</div>


    
 




















<!-- Footer -->
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
     

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="{{alumni.twiter}}" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

     

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="{{alumni.instagram}}" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="{{alumni.linkedin}}" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1"  href="{{alumni.github}}" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21">Email address</label>
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

   

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col">
          
          <ul class="list-unstyled mb-0">
            <li>You are logged in as
              <a href="/alumni-logout" class="text-white"> {{alumni.email}} (Log out)</a>
            </li>
            <li>
              <a href="#!" class="text-white">Terms and Conditions</a>
            </li>
          </ul>
        </div>


        
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white" href="#">DTE-PORTAL</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->








<!-- post modal -->

<div class="modal fade"  id="postModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalToggle" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalToggle">Create Post Here</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        
      <form action="/alumni-post/" method="post" enctype="multipart/form-data">{% csrf_token %}
          
        <div class="bg-white border mt-2">
          <style type="text/css">
            .image:hover .img{
              opacity:0.5;
            }
            #upload{
              display: none;
            }
          </style>
          <script type="text/javascript">
            $(function(){
                $("#upload_link").on('click', function(e){
                    e.preventDefault();
                    $("#upload:hidden").trigger('click');
                });
            });
          </script>
          <div class="feed-image p-2 px-3">
            <input id="upload" type="file"  name="upload" onchange="uploadfile()" />
            <input type="submit" style="display: none;">
            <a href="#" id="upload_link" class="img">
              <img class="img-fluid img-responsive" src="/static/noimg.png">
            </a>
            </div>
          <div class="d-flex justify-content-end socials p-2 py-3"><i class="fa fa-thumbs-up"></i><i class="fa fa-comments-o"></i><i class="fa fa-share"></i></div>
      </div>
 
        
      
    </div>
  </form>
      </div>
     </div>     
    </div>




  



<!-- password modal -->
<!-- password modal -->
<div class="modal fade"  id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalToggle" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalToggle">Change Password </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        
      <form id='changepwd' method="post" enctype="application/x-www-form-urlencoded">{% csrf_token %}
          <div class="form-row">
          
              <div class="form-group col-md-12">
                <label for="inputEmail4">Current Password</label>
                <input type="password" class="form-control" id="currentpwd" name="currentpwd" placeholder="Current Password">
              </div>
            
              <div class="form-group col-md-12">
                <label for="inputEmail4">New password</label><br>
                <input type="password" class="form-control" id="newpwd" name="newpwd" placeholder="New password">
             </div>
            
             <div class="form-group col-md-12">
                <label for="inputEmail4">Confirm password</label><br>
                <input type="password" class="form-control" id="confirmpwd" name="confirmpwd" onkeyup="chk()" placeholder="Re-enter Password">
                <span id="msg"></span> 
            </div>
              
            </div>
           
      
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-secondary" >Close</button>
      <button type="submit" class="btn btn-primary" >Update</button>
    </div>
  </form>
      </div>
     </div>     
    </div>
  









<!-- article modal -->

<div class="modal fade"  id="articleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalToggle" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalToggle">Write Article Here</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        
      <form id='articles' method="post" enctype="application/x-www-form-urlencoded">{% csrf_token %}
          
        <div class="form-row">
          
          <div class="form-group col-md-12">
            <input type="text" class="form-control" id="heading" name="heading" placeholder="Heading..">
          </div>
          
        </div>
    
        <div class="form-row">
          
              <div class="form-group col-md-12">
                <textarea rows="6" class="form-control" id="article" name="article" placeholder="Start Typing......"></textarea>
              </div>
              
            </div>
           
      
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-secondary" >Close</button>
      <button type="submit" class="btn btn-primary" >Post</button>
    </div>
  </form>
      </div>
     </div>     
    </div>






    <div class="modal fade"  id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalToggle" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
       
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggle">Events Organized by College </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
          {% for event in events %}
          <strong><img src="/static/new.png" height="28" width="28"></img>
              
              <a href="/static/events/{{event.eventfile}}/" target="_blank">{{event.eventfile}}</a>
              
          </strong><br><br>
          {% endfor %}
          
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="btn btn-secondary" >Close</button>
        </div>
      
          </div>
         </div>     
        </div>
      
    

<!-- Logout Modal-->



<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body"><i style="color:green; font-family: Comic Sans MS;"><b>Good Job... You have no pending Task.</b> <span class="fas fa-thumbs-up" style="font-size:25px;"></span></i></div>
  <div class="modal-footer">
    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
    <a class="btn btn-primary" href="/alumni-logout">Logout</a>
  </div>
</div>
</div>
</div>







      <script>
        function chk(){
          
          if(newpwd.value==confirmpwd.value)
          {msg.innerHTML = "<font color='green'>Password Matched</font>"  
          }
          else
          {msg.innerHTML = "<font color='red'>Password not matched</font>"}
        
          }    
        
          $("#changepwd").submit(function (e) {
            
              // preventing from page reload and default actions
              e.preventDefault();
              // serialize the data for sending the form data.
              var serializedData = $(this).serialize();
              
              // make POST ajax call
              $.ajax({
                  type: 'POST',
                  url: "{% url 'alumni-changepassword' %}",
                  data: serializedData,
                  success: function (response) {
                    // console.log(response)
                    window.location.reload();
                    alert("Password Updated Successfully")
          
                    
                  },
                  error: function (response) {
                      // alert the error if any error occured
                      //alert(response["responseJSON"]["error"]);
                      alert("Some Unknown Error Occured Please try after sometime..")
                      window.location.reload();
                  }
              })
          })




          $("#articles").submit(function (e) {
            // preventing from page reload and default actions
            e.preventDefault();
            // serialize the data for sending the form data.
            var serializedData = $(this).serialize();
            
            // make POST ajax call
            $.ajax({
                type: 'POST',
                url: "{% url 'alumni-postarticle' %}",
                data: serializedData,
                success: function (response) {
                  // console.log(response)
                  window.location.reload();
                  alert("Posted Successfully")
        
                  
                },
                error: function (response) {
                    // alert the error if any error occured
                    //alert(response["responseJSON"]["error"]);
                    alert("Some Unknown Error Occured Please try after sometime..")
                    window.location.reload();
                }
            })
        })








          $("#updateprofile").submit(function (e) {
            
            // preventing from page reload and default actions
            e.preventDefault();
            // serialize the data for sending the form data.
            var serializedData = $(this).serialize();
            
            // make POST ajax call
            $.ajax({
                type: 'POST',
                url: "{% url 'alumni-updateprofile' %}",
                data: serializedData,
                success: function (response) {
                  // console.log(response)
                  window.location.reload();
                  alert("Updated Successfully")
        
                  
                },
                error: function (response) {
                    // alert the error if any error occured
                    window.location.reload();
                    alert(response["responseJSON"]["error"]);
                }
            })
        })
        









        function uploadfile(){

          var data = new FormData();
          data.append("upload",$("input[id^='upload']")[0].files[0]);
          
          data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
          
          $.ajax({
            method:"POST",
            url:"/alumni-post/",
            processData: false,
            contentType:false,
            mimeType: "multipart/form-data",
            data:data,
            success: function (response) {
              // console.log(response)
              window.location.reload();
              alert("Picture Updated Successfully");
                
          
              
            },
            error: function (response) {
                // alert the error if any error occured
                //alert(response["responseJSON"]["error"]);
                alert("Some Unknown Error Occured Please try after sometime..")
                window.location.reload();
            },
            
          })
          
          
          
          }
          








        </script>




</body>

  

</html>
