<style type="text/css">
    .root{
    display:flex;
    justify-content:center;
    background-color:#dfe6e9;
    align-items:center;
    padding:20px;
  
  
    }
  
    .myframe{
    width:600px;
    background-color:#fff;
    padding:20px;
    border-radius:20px;
  
    }
   .gap{
    margin-top:10px;
   }
   .btnstyle{
     display:flex;
     justify-content:center;
     align-items:center;
     width:400px;
   }
  
  </style>
     <html>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
      <script src=" https://code.jquery.com/jquery-3.6.0.min.js"></script>
      
      <head>
          <meta charset="UTF-8">
          <title>Alumni Registration</title>
      </head>
    <body class="root" style="background-image: url(/static/bg.png)">
     
        
      <form id="alumniregisteration" method="post" enctype="multipart/form-data" autocomplete="off"> {% csrf_token %}
      <div class="root">
      <div class="myframe">
          <div class="row" style="display:flex;margin-bottom:10px;font-size:14px;font-weight:bold;letter-spacing:1px;justify-content:center;align-items:center;">
             
             Alumni Registration
          </div>

          <div class="row gap">
            <div class="col">
            <input type="text" name="clgmail" class="form-control" placeholder="Enter College Mail Id" required>
             </div>
          </div>
          <div class="row gap">
            <div class="col">
            <input type="Password" name="password" id="password" class="form-control" placeholder="Create Password" required>
             </div>
          </div>
          <div class="row gap">
            <div class="col">
            <input type="Password" name="password" id="chkpassword" onkeyup="chk()" class="form-control" placeholder="Confirm Password" required>
             </div>
             <div id="msg"></div>
          </div>
          
  
         
         <div class="row gap">
          <div class="col btnstyle">
            <button type="Submit" class="btn btn-success w-100" >Register</button>
          </div>
        
          
        
      </div>
      <div class="row gap">
        <div class="col">

        <div> <small class="font-weight-bold">Already have an account? <a href="/alumni-login/" class="text-danger ">Sign in</a></small> </div>
     </div>
    </div>
    <div>{{msg}}</div>
  
      </div>
      </form>
      </body>



      <script>
      
        $("#alumniregisteration").submit(function (e) {
          // preventing from page reload and default actions
          e.preventDefault();
          // serialize the data for sending the form data.
          var serializedData = $(this).serialize();
          
          // make POST ajax call
          $.ajax({
              type: 'POST',
              url: "{% url 'registeration' %}",
              data: serializedData,
              success: function (response) {
                // console.log(response)
               
                alert("You are Successfully registered  Your login credentials sent to your mail ID")
      
                
              },
              error: function (response) {
                  // alert the error if any error occured
                  window.location.reload();
                  alert(response["responseJSON"]["error"]);
              }
          })
      })
          </script>
        
          
          <script>
            function chk(){
              
              if(password.value==chkpassword.value)
              {msg.innerHTML = "<font color='green'>Password Matched</font>"  
              }
              else
              {msg.innerHTML = "<font color='red'>Password not matched</font>"}
            
              }    
            </script>    
       </html>