<!DOCTYPE html>
<html>
<style>
    .img-profile {
        height: 2rem;
        width: 2rem;
    }
    .rounded-circle {
        border-radius: 50%!important;
    }
    #mynav{
      height:60px;
      box-shadow: 4px 4px 4px 4px #a9a9a9;
    }
    .topbar .topbar-divider {
        width: 0;
        border-right: 1px solid #e3e6f0;
        height: calc(4.375rem - 2rem);
        margin: auto 1rem;}
    img {
            vertical-align: middle;
            border-style: none;
        }
</style>


<style type="text/css">
  .root{
  display:flex;
  justify-content:center;
  background-color:#dfe6e9;
  align-items:center;
  padding:20px;


  }

  .myframe{
  width:600px;
  background-color:#fff;
  padding:20px;
  border-radius:20px;

  }
 .gap{
  margin-top:10px;
 }
 .btnstyle{
   display:flex;
   justify-content:center;
   align-items:center;
   width:400px;
 }


 #body {
    background: #bdc3c7
   
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 14px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
</style>

<head>
  <meta charset="utf-8">
  <title>Profile</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/stylemain.css">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
 <!-- Custom fonts for this template-->
 <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

 <!-- Custom styles for this template-->



 <script src="http://office.praedicoglobalresearch.com/public/vendor/jquery/jquery.min.js"></script>
 <script src="http://office.praedicoglobalresearch.com/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

 <!-- Core plugin JavaScript-->

 <!-- Custom scripts for all pages-->

 <!-- Page level plugins -->
 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
 <!-- Page level custom scripts -->

  

</head>
{% include "sidebar_alumni.html" %}



<body id="body" style="margin-left:300px; margin-right:20px;">
  
   
  <!-- Topbar -->
  
  <nav id="mynav" class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    
    <span>
      <a class="" style="cursor: pointer;" onclick="toggleSidebar()"><i class="fas fa-fw fa-lg fa-bars"></i></a>
    </span>

    <script>
      function toggleSidebar()
      {
        $("#mySidenav").fadeToggle();
        
        var a=$("#body").css('margin-left');
        
        if(a=='300px'){
          $("#body").css('margin-left','-=280px');

        }
        else{
        $("#body").css('margin-left','+=300px');
        }
      }
    </script>

    <style>
      @media only screen and (max-width: 600px) {
        #mySidenav{display: none;}
      }
    </style>

    <marquee style="font-family: Comic Sans MS; color: red">
      <i>"Mission to Innovate Technology for Society."</i>
      {% comment %} <img src="http://office.praedicoglobalresearch.com/public/img/smiley.png" width="50px"> {% endcomment %}
    </marquee>
    <!-- Topbar Navbar -->


  





    <ul class="navbar-nav ml-auto">

      <div class="topbar-divider d-flex d-sm-block"></div>

      <!-- Nav Item - User Information -->
      <li class="nav-item dropdown no-arrow" style="width:150px">
          
        <a class="nav-link " href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            
            <span class="ml-2 d-flex d-lg-inline text-gray-700 small"> {{alumni.email}}</span>
          
                </a>

     
        <!-- Dropdown - User Information -->
        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
         
          <a class="dropdown-item"  href="#" data-toggle="modal" data-target="#passwordModal">
            <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
            Change Password
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
            Logout
          </a>
        </div>
      </li>

    </ul>

  </nav>
  <!-- End of Topbar -->







  
<br>
<form id="updateprofile" method="post" enctype="multipart/form-data"> {% csrf_token %}

<div class="container rounded bg-white mb-4 ">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"><span class="font-weight-bold">{{alumni.name}}</span><span class="text-black-50">{{alumni.email}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Full Name</label><input type="text" id="name" name="name" class="form-control" value="{{alumni.name}}" placeholder="Full Name" ></div>
                    <div class="col-md-6"><label class="labels">Mobile Number</label><input id="phone" name="phone" value="{{alumni.phone}}" type="text" class="form-control" value="" placeholder="Mobile Number"></div>
                </div>
                
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Current Job Title/Position</label><input id="current_job" value="{{alumni.current_job}}" name="current_job" type="text" class="form-control" placeholder="System Engineer" ></div>
                    <div class="col-md-6"><label class="labels">Current Job Location</label><input id="currentjob_location" name="currentjob_location" value="{{alumni.currentjob_location}}" type="text" class="form-control" value="" placeholder="Pune"></div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-6"><label class="labels">Experience in Current Job</label><input id="experience" name="experience" type="text" class="form-control" value="{{alumni.experience}}" placeholder="Enter in years" ></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center experience"><span>Add Other Profiles</span></div>
                <div class="col-md-12"><label class="labels">Github</label><input type="text" class="form-control" name="github" id="github" value="{{alumni.github}}" placeholder="/github.in"></div> 
                <div class="col-md-12"><label class="labels">Linked In</label><input type="text" class="form-control" name="linkedin" id="linkedin" value="{{alumni.linkedin}}" placeholder="/linkedin.com"></div> 
                <div class="col-md-12"><label class="labels">Twitter</label><input type="text" class="form-control" name="twitter" id="twitter" value="{{alumni.twiter}}" placeholder="/twitter.com"></div> 
                <div class="col-md-12"><label class="labels">Instagram</label><input type="text" class="form-control" name="instagram" id="instagram" value="{{alumni.instagram}}" placeholder="/instagram.in"></div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

</form>













<!-- Footer -->
<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
       
  
        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="{{alumni.twiter}}" role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
       
  
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="{{alumni.instagram}}" role="button"
          ><i class="fab fa-instagram"></i
        ></a>
  
        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="{{alumni.linkedin}}" role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>
  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1"  href="{{alumni.github}}" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center">
            <!--Grid column-->
            <div class="col-auto">
              <p class="pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" />
                <label class="form-label" for="form5Example21">Email address</label>
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
     
  
      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col">
            
            <ul class="list-unstyled mb-0">
              <li>You are logged in as
                <a href="/alumni-logout" class="text-white"> {{alumni.email}} (Log out)</a>
              </li>
              <li>
                <a href="#!" class="text-white">Terms and Conditions</a>
              </li>
            </ul>
          </div>
  
  
          
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white" href="#">DTE-PORTAL</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
  











  



<!-- password modal -->
<!-- password modal -->
<div class="modal fade"  id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalToggle" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title" id="exampleModalToggle">Change Password </h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        
      <form id='changepwd' method="post" enctype="application/x-www-form-urlencoded">{% csrf_token %}
          <div class="form-row">
          
              <div class="form-group col-md-12">
                <label for="inputEmail4">Current Password</label>
                <input type="password" class="form-control" id="currentpwd" name="currentpwd" placeholder="Current Password">
              </div>
            
              <div class="form-group col-md-12">
                <label for="inputEmail4">New password</label><br>
                <input type="password" class="form-control" id="newpwd" name="newpwd" placeholder="New password">
             </div>
            
             <div class="form-group col-md-12">
                <label for="inputEmail4">Confirm password</label><br>
                <input type="password" class="form-control" id="confirmpwd" name="confirmpwd" onkeyup="chk()" placeholder="Re-enter Password">
                <span id="msg"></span> 
            </div>
              
            </div>
           
      
    </div>
    <div class="modal-footer">
      <button type="button" data-dismiss="modal" class="btn btn-secondary" >Close</button>
      <button type="submit" class="btn btn-primary" >Update</button>
    </div>
  </form>
      </div>
     </div>     
    </div>
  






<!-- Logout Modal-->



<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Visit Again !!</h5>
    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body"><i style="color:green; font-family: Comic Sans MS;"><b>Good Job... You have no pending Task.</b> <span class="fas fa-thumbs-up" style="font-size:25px;"></span></i></div>
  <div class="modal-footer">
    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
    <a class="btn btn-primary" href="/alumni-logout">Logout</a>
  </div>
</div>
</div>
</div>




  
      <!-- /.container-fluid -->




      <script>
        function chk(){
          
          if(newpwd.value==confirmpwd.value)
          {msg.innerHTML = "<font color='green'>Password Matched</font>"  
          }
          else
          {msg.innerHTML = "<font color='red'>Password not matched</font>"}
        
          }    
        
          $("#changepwd").submit(function (e) {
            
              // preventing from page reload and default actions
              e.preventDefault();
              // serialize the data for sending the form data.
              var serializedData = $(this).serialize();
              
              // make POST ajax call
              $.ajax({
                  type: 'POST',
                  url: "{% url 'alumni-changepassword' %}",
                  data: serializedData,
                  success: function (response) {
                    // console.log(response)
                    window.location.reload();
                    alert("Password Updated Successfully")
          
                    
                  },
                  error: function (response) {
                      // alert the error if any error occured
                      //alert(response["responseJSON"]["error"]);
                      alert("Some Unknown Error Occured Please try after sometime..")
                      window.location.reload();
                  }
              })
          })









          $("#updateprofile").submit(function (e) {
         
            // preventing from page reload and default actions
            e.preventDefault();
            // serialize the data for sending the form data.
            var serializedData = $(this).serialize();
            
            // make POST ajax call
            $.ajax({
                type: 'POST',
                url: "{% url 'alumni-updateprofile' %}",
                data: serializedData,
                success: function (response) {
                  // console.log(response)
                  window.location.reload();
                  alert("Updated Successfully")
        
                  
                },
                error: function (response) {
                    // alert the error if any error occured
                    window.location.reload();
                    alert(response["responseJSON"]["error"]);
                }
            })
        })
       



        </script>




</body>

  

</html>
